HIOS-SCIS-WS/resources/META-INF/schemas/Validate/XMLschemas/constraint/XMLschemas/niem/domains/hix/0.1/hix-pm/hix-pm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:hios="http://cms.gov/hios" xmlns:hpm="http://hix.cms.gov/0.1/hix-pm" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://hix.cms.gov/0.1/hix-pm" version="&quot;1&quot;">
  <xsd:import namespace="http://cms.gov/hios" schemaLocation="../../../../../../../../XMLschemas/constraint/XMLschemas/extension/HIOS.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../../../../../../../../XMLschemas/constraint/XMLschemas/niem/niem-core.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../../../../../../../XMLschemas/subset/niem/structures/2.0/structures.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../../../../../../../XMLschemas/subset/niem/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../../../../../../../../XMLschemas/subset/niem/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../../../../../../../XMLschemas/subset/niem/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
    <xsd:documentation source="">Reference Model for Health Information Exchange (HIX) Plan Management (PM)</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType abstract="false" mixed="false" name="StandardComponentIdentificationType">
    <xsd:annotation>
      <xsd:appinfo>
        <Base xmlns="http://niem.gov/niem/appinfo/2.0" i:name="IdentificationType" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for an insurance plan identification established by the Centers for Medicare &amp; Medicaid Systems. [TT]</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:IdentificationType">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="InsurancePlanType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a pairing of a package of benefits with a cost-sharing option.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="hpm:InsurancePlanStandardComponentIdentification"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="InsurancePlanStandardComponentIdentification" nillable="false" substitutionGroup="hpm:InsurancePlanIdentification" type="hios:SCIDStandardComponentIdentificationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="InsurancePlanIdentification" i:namespace="http://hix.cms.gov/0.1/hix-pm"/>
      </xsd:appinfo>
      <xsd:documentation source="">An identification of an insurance plan established by the Centers for Medicare &amp; Medicaid Systems. [TT]</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="InsurancePlanIdentification" nillable="false" type="nc:IdentificationType">
    <xsd:annotation>
      <xsd:documentation source="">An identification for an insurance plan.[CDM]</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="StandardComponentID" nillable="false" substitutionGroup="nc:IdentificationID" type="hios:IDAlphaNum14Type">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="IdentificationID" i:namespace="http://niem.gov/niem/niem-core/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">An identifier for a standard component. [CDM]</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="InsurancePlan" nillable="false" type="hpm:InsurancePlanType">
    <xsd:annotation>
      <xsd:documentation source="">A data type for a healthcare expense that must be paid by a member before an insurer will pay any expenses. [TT]</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
