HIOS-SCIS-WS/resources/META-INF/schemas/Validate/XMLschemas/constraint/XMLschemas/niem/domains/hix/0.1/hix-core/hix-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:hcore="http://hix.cms.gov/0.1/hix-core" xmlns:hios="http://cms.gov/hios" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://hix.cms.gov/0.1/hix-core" version="&quot;1&quot;">
  <xsd:import namespace="http://cms.gov/hios" schemaLocation="../../../../../../../../XMLschemas/constraint/XMLschemas/extension/HIOS.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="../../../../../../../../XMLschemas/constraint/XMLschemas/niem/niem-core.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../../../../../../../XMLschemas/subset/niem/structures/2.0/structures.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../../../../../../../XMLschemas/subset/niem/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../../../../../../../../XMLschemas/subset/niem/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../../../../../../../XMLschemas/subset/niem/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
    <xsd:documentation source="">Package Containing</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType abstract="false" mixed="false" name="ErrorMetadataType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="MetadataType" i:namespace="http://niem.gov/niem/structures/2.0"/>
        <i:AppliesTo i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
        <i:AppliesTo i:name="Association" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for metadata about an error.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:MetadataType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="hcore:ErrorCategoryCodeText"/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="hcore:ErrorDescriptionText"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="ErrorCategoryCodeText" substitutionGroup="hcore:Error" type="nc:TextType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Error" i:namespace="http://hix.cms.gov/0.1/hix-core"/>
      </xsd:appinfo>
      <xsd:documentation source="">A kind of error.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="true" name="Error">
    <xsd:annotation>
      <xsd:documentation source="">A data concept for an error that occurred when processing a request.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ErrorDescriptionText" substitutionGroup="hcore:ErrorCategoryCodeText" type="nc:TextType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="ErrorCategoryCodeText" i:namespace="http://hix.cms.gov/0.1/hix-core"/>
      </xsd:appinfo>
      <xsd:documentation source="">A description of an error.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="false" mixed="false" name="ResponseMetadataType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="MetadataType" i:namespace="http://niem.gov/niem/structures/2.0"/>
        <i:AppliesTo i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
        <i:AppliesTo i:name="Association" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for metadata about a response.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:MetadataType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="hcore:ResponseCode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="ResponseCode" substitutionGroup="hcore:Response" type="hios:ResponseCodeType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Response" i:namespace="http://hix.cms.gov/0.1/hix-core"/>
      </xsd:appinfo>
      <xsd:documentation source="">A coded response.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="true" name="Response">
    <xsd:annotation>
      <xsd:documentation source="">A data concept for a response made to a request.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ErrorMetadata" nillable="false" type="hcore:ErrorMetadataType">
    <xsd:annotation>
      <xsd:documentation source="">A Metadata about an error.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element abstract="false" name="ResponseMetadata" nillable="false" type="hcore:ResponseMetadataType">
    <xsd:annotation>
      <xsd:documentation source="">A Metadata about a response.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
