HIOS-SCIS-WS/resources/META-INF/schemas/Generate/XMLschemas/constraint/XMLschemas/niem/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:hios="http://cms.gov/hios" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1">
  <xsd:import namespace="http://cms.gov/hios" schemaLocation="../../../../XMLschemas/constraint/XMLschemas/extension/HIOS.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.1" schemaLocation="../../../../XMLschemas/subset/niem/appinfo/2.1/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../../../XMLschemas/subset/niem/appinfo/2.0/appinfo.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../../../XMLschemas/subset/niem/proxy/xsd/2.0/xsd.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../../../XMLschemas/subset/niem/structures/2.0/structures.xsd"/>
  <xsd:annotation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
    <xsd:documentation source="">NIEM Core includes both Universal (U) and Common (C) components. The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType abstract="false" mixed="false" name="QuantityType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a count or tally.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:NumericType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="NumericType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a number value.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:decimal"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="TextType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a character string.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType abstract="false" mixed="false" name="IdentificationType">
    <xsd:annotation>
      <xsd:appinfo>
        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
      </xsd:appinfo>
      <xsd:documentation source="">A data type for a representation of an identity.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" ref="nc:IdentificationID"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element abstract="false" name="IdentificationID" nillable="false" type="hios:IDAlphaNumSimpleType">
    <xsd:annotation>
      <xsd:documentation source="">A value that identifies something.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
